/Hardware/lux-et-pcb/lux-et-pcb-backups
/Hardware/lux-et-pcb/production/backups
/Hardware/lux-et-pcb-V2/lux-et-pcb-V2-backups
/Hardware/lux_et_portabilis/lux_et_portabilis-backups
/Hardware/lux_et_portabilis/production/backups
/Hardware/lux-et-portabilis-V2/lux-et-portabilis-V2-backups
/Hardware/lux-et-portabilis-V2/production/backups
/Hardware/Marajoara_PCB/Marajoara_PCB-backups
/Hardware/Marajoara_PCB/production/backups
/Hardware/Marajoara_V2/Marajoara_V2-backups
/Hardware/5mm_WS2812B_breakout/5mm_WS2812B_breakout-backups
/Hardware/5mm_WS2812B_breakout/production/backups
